In [4]:
#imports the need modules
import pandas as pd
import numpy as np

# Load data from CSV files
school_data= "./Resources/schools_complete.csv"
student_data= "./Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas
schools_df = pd.read_csv(school_data)
students_df = pd.read_csv(student_data)

# Combine the data
school_data_complete = pd.merge(schools_df, students_df, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,School ID,school_name,type,size,budget,Student ID,student_name,gender,grade,reading_score,math_score
0,0,Huang High School,District,2917,1910635,0,Paul Bradley,M,9th,66,79
1,0,Huang High School,District,2917,1910635,1,Victor Smith,M,12th,94,61
2,0,Huang High School,District,2917,1910635,2,Kevin Rodriguez,M,12th,90,60
3,0,Huang High School,District,2917,1910635,3,Dr. Richard Scott,M,12th,67,58
4,0,Huang High School,District,2917,1910635,4,Bonnie Ray,F,9th,97,84

In [6]:
#renames the column for type to school_type
school_data_complete = school_data_complete.rename(columns={'type': 'school_type'})
school_data_complete.head()

,School ID,school_name,school type,size,budget,Student ID,student_name,gender,grade,reading_score,math_score
0,0,Huang High School,District,2917,1910635,0,Paul Bradley,M,9th,66,79
1,0,Huang High School,District,2917,1910635,1,Victor Smith,M,12th,94,61
2,0,Huang High School,District,2917,1910635,2,Kevin Rodriguez,M,12th,90,60
3,0,Huang High School,District,2917,1910635,3,Dr. Richard Scott,M,12th,67,58
4,0,Huang High School,District,2917,1910635,4,Bonnie Ray,F,9th,97,84

In [7]:
# Calculate the total number of unique schools
total_schools = schools_df['school_name'].nunique()

In [8]:
# Calculate the total number of students
total_students = students_df['student_name'].count()

In [9]:
# Calculate the total budget
total_budget = schools_df['budget'].sum()

In [10]:
# Calculate the average math score
avg_math_score = students_df['math_score'].mean()

In [11]:
# Calculate the average reading score
avg_reading_score = students_df['reading_score'].mean()

In [12]:
# Calculate the percentage of students passing math
passing_math = (students_df['math_score'] >= 70).sum() / total_students * 100

In [13]:
# Calculate the percentage of students passing reading
passing_reading = (students_df['reading_score'] >= 70).sum() / total_students * 100

In [14]:
# Calculate the percentage of students passing overall
passing_overall = (students_df[(students_df['math_score'] >= 70) & (students_df['reading_score'] >= 70)]['student_name'].count() / total_students) * 100

In [15]:
# Create a new DataFrame to hold the district summary
district_summary_df = pd.DataFrame({
    'Total Schools': [total_schools],
    'Total Students': [total_students],
    'Total Budget': [total_budget],
    'Average Math Score': [avg_math_score],
    'Average Reading Score': [avg_reading_score],
    '% Passing Math': [passing_math],
    '% Passing Reading': [passing_reading],
    '% Overall Passing': [passing_overall]})

district_summary_df.head()

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,65.172326

In [16]:
# Group the data by school name and type
school_data = school_data_complete.groupby(['school_name', 'school type'])

In [17]:
# Calculate the total number of students in each school
total_students = school_data['student_name'].count()

In [18]:
# Calculate the total budget for each school
total_budget = school_data['budget'].mean()

In [19]:
# Calculate the per student budget for each school
per_student_budget = total_budget / total_students

In [20]:
# Calculate the average math score for each school
avg_math_score = school_data['math_score'].mean()

In [21]:
# Calculate the average reading score for each school
avg_reading_score = school_data['reading_score'].mean()

In [22]:
# Calculate the percentage of students passing math for each school
passing_math_percent = school_data_complete[school_data_complete['math_score'] >= 70].groupby('school_name')['math_score'].count() / total_students * 100

In [23]:
# Calculate the percentage of students passing reading for each school
passing_reading_percent = school_data_complete[school_data_complete['reading_score'] >= 70].groupby('school_name')['reading_score'].count() / total_students * 100

In [24]:
# Calculate the overall passing rate for each school
overall_passing_percent = (passing_math_percent + passing_reading_percent) / 2

In [41]:
# Create a DataFrame to store the school summary data
school_summary_df = pd.DataFrame({
    'Total Students': total_students,
    'Total School Budget': total_budget,
    'Per Student Budget': per_student_budget,
    'Average Math Score': avg_math_score,
    'Average Reading Score': avg_reading_score,
    '% Passing Math': passing_math_percent,
    '% Passing Reading': passing_reading_percent,
    '% Overall Passing': overall_passing_percent
})
school_summary_df

,,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,school type,,,,,,,,
Bailey High School,District,4976,3124928.0,628.0,77.048432,81.033963,66.680064,81.933280,74.306672
Cabrera High School,Charter,1858,1081356.0,582.0,83.061895,83.975780,94.133477,97.039828,95.586652
Figueroa High School,District,2949,1884411.0,639.0,76.711767,81.158020,65.988471,80.739234,73.363852
Ford High School,District,2739,1763916.0,644.0,77.102592,80.746258,68.309602,79.299014,73.804308
Griffin High School,Charter,1468,917500.0,625.0,83.351499,83.816757,93.392371,97.138965,95.265668
Hernandez High School,District,4635,3022020.0,652.0,77.289752,80.934412,66.752967,80.862999,73.807983
Holden High School,Charter,427,248087.0,581.0,83.803279,83.814988,92.505855,96.252927,94.379391
Huang High School,District,2917,1910635.0,655.0,76.629414,81.182722,65.683922,81.316421,73.500171
Johnson High School,District,4761,3094650.0,650.0,77.072464,80.966394,66.057551,81.222432,73.639992
Pena High School,Charter,962,585858.0,609.0,83.839917,84.044699,94.594595,95.945946,95.270270
Rodriguez High School,District,3999,2547363.0,637.0,76.842711,80.744686,66.366592,80.220055,73.293323
Shelton High School,Charter,1761,1056600.0,600.0,83.359455,83.725724,93.867121,95.854628,94.860875
Thomas High School,Charter,1635,1043130.0,638.0,83.418349,83.848930,93.272171,97.308869,95.290520
Wilson High School,Charter,2283,1319574.0,578.0,83.274201,83.989488,93.867718,96.539641,95.203679
Wright High School,Charter,1800,1049400.0,583.0,83.682222,83.955000,93.333333,96.611111,94.972222

In [42]:
#creates a summary of the top 5 schools
top_schools = school_summary_df.sort_values("% Overall Passing", ascending=False).head(5)
top_schools.head()

,,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,school type,,,,,,,,
Cabrera High School,Charter,1858,1081356.0,582.0,83.061895,83.975780,94.133477,97.039828,95.586652
Thomas High School,Charter,1635,1043130.0,638.0,83.418349,83.848930,93.272171,97.308869,95.290520
Pena High School,Charter,962,585858.0,609.0,83.839917,84.044699,94.594595,95.945946,95.270270
Griffin High School,Charter,1468,917500.0,625.0,83.351499,83.816757,93.392371,97.138965,95.265668
Wilson High School,Charter,2283,1319574.0,578.0,83.274201,83.989488,93.867718,96.539641,95.203679

In [43]:
#creates a summary of the bottom 5 schools
bottom_schools = school_summary_df.sort_values("% Overall Passing").head(5)
bottom_schools.head()

,,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,school type,,,,,,,,
Rodriguez High School,District,3999,2547363.0,637.0,76.842711,80.744686,66.366592,80.220055,73.293323
Figueroa High School,District,2949,1884411.0,639.0,76.711767,81.158020,65.988471,80.739234,73.363852
Huang High School,District,2917,1910635.0,655.0,76.629414,81.182722,65.683922,81.316421,73.500171
Johnson High School,District,4761,3094650.0,650.0,77.072464,80.966394,66.057551,81.222432,73.639992
Ford High School,District,2739,1763916.0,644.0,77.102592,80.746258,68.309602,79.299014,73.804308

In [44]:
#shows the school and math scores by grade
math_scores_by_grade = pd.pivot_table(school_data_complete, values='math_score', index='school_name', columns='grade', aggfunc=np.mean)
math_scores_by_grade

grade                       10th       11th       12th        9th
school_name
Bailey High School     76.996772  77.515588  76.492218  77.083676
Cabrera High School    83.154506  82.765560  83.277487  83.094697
Figueroa High School   76.539974  76.884344  77.151369  76.403037
Ford High School       77.672316  76.918058  76.179963  77.361345
Griffin High School    84.229064  83.842105  83.356164  82.044010
Hernandez High School  77.337408  77.136029  77.186567  77.438495
Holden High School     83.429825  85.000000  82.855422  83.787402
Huang High School      75.908735  76.446602  77.225641  77.027251
Johnson High School    76.691117  77.491653  76.863248  77.187857
Pena High School       83.372000  84.328125  84.121547  83.625455
Rodriguez High School  76.612500  76.395626  77.690748  76.859966
Shelton High School    82.917411  83.383495  83.778976  83.420755
Thomas High School     83.087886  83.498795  83.497041  83.590022
Wilson High School     83.724422  83.195326  83.035794  83.085578
Wright High School     84.010288  83.836782  83.644986  83.264706

In [45]:
#shows the school and reading scores by grade
reading_scores_by_grade = pd.pivot_table(school_data_complete, values='reading_score', index='school_name', columns='grade', aggfunc=np.mean)
reading_scores_by_grade

grade                       10th       11th       12th        9th
school_name
Bailey High School     80.907183  80.945643  80.912451  81.303155
Cabrera High School    84.253219  83.788382  84.287958  83.676136
Figueroa High School   81.408912  80.640339  81.384863  81.198598
Ford High School       81.262712  80.403642  80.662338  80.632653
Griffin High School    83.706897  84.288089  84.013699  83.369193
Hernandez High School  80.660147  81.396140  80.857143  80.866860
Holden High School     83.324561  83.815534  84.698795  83.677165
Huang High School      81.512386  81.417476  80.305983  81.290284
Johnson High School    80.773431  80.616027  81.227564  81.260714
Pena High School       83.612000  84.335938  84.591160  83.807273
Rodriguez High School  80.629808  80.864811  80.376426  80.993127
Shelton High School    83.441964  84.373786  82.781671  84.122642
Thomas High School     84.254157  83.585542  83.831361  83.728850
Wilson High School     84.021452  83.764608  84.317673  83.939778
Wright High School     83.812757  84.156322  84.073171  83.833333

In [46]:
# create spending bins and labels
spending_bins = [0, 585, 630, 645, 680]
labels = ["<$585", "$585-630", "$630-645", "$645-680"]

In [47]:
# create a new column "Spending Ranges (Per Student)" based on the bins and labels
school_summary_df["Spending Ranges (Per Student)"] = pd.cut(school_summary_df["Per Student Budget"], spending_bins, labels=labels)
school_summary_df

,,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing,Spending Ranges (Per Student)
school_name,school type,,,,,,,,,
Bailey High School,District,4976,3124928.0,628.0,77.048432,81.033963,66.680064,81.933280,74.306672,$585-630
Cabrera High School,Charter,1858,1081356.0,582.0,83.061895,83.975780,94.133477,97.039828,95.586652,<$585
Figueroa High School,District,2949,1884411.0,639.0,76.711767,81.158020,65.988471,80.739234,73.363852,$630-645
Ford High School,District,2739,1763916.0,644.0,77.102592,80.746258,68.309602,79.299014,73.804308,$630-645
Griffin High School,Charter,1468,917500.0,625.0,83.351499,83.816757,93.392371,97.138965,95.265668,$585-630
Hernandez High School,District,4635,3022020.0,652.0,77.289752,80.934412,66.752967,80.862999,73.807983,$645-680
Holden High School,Charter,427,248087.0,581.0,83.803279,83.814988,92.505855,96.252927,94.379391,<$585
Huang High School,District,2917,1910635.0,655.0,76.629414,81.182722,65.683922,81.316421,73.500171,$645-680
Johnson High School,District,4761,3094650.0,650.0,77.072464,80.966394,66.057551,81.222432,73.639992,$645-680
Pena High School,Charter,962,585858.0,609.0,83.839917,84.044699,94.594595,95.945946,95.270270,$585-630
Rodriguez High School,District,3999,2547363.0,637.0,76.842711,80.744686,66.366592,80.220055,73.293323,$630-645
Shelton High School,Charter,1761,1056600.0,600.0,83.359455,83.725724,93.867121,95.854628,94.860875,$585-630
Thomas High School,Charter,1635,1043130.0,638.0,83.418349,83.848930,93.272171,97.308869,95.290520,$630-645
Wilson High School,Charter,2283,1319574.0,578.0,83.274201,83.989488,93.867718,96.539641,95.203679,<$585
Wright High School,Charter,1800,1049400.0,583.0,83.682222,83.955000,93.333333,96.611111,94.972222,<$585

In [48]:
# group by spending ranges and calculate the mean scores
spending_math_scores = school_summary_df.groupby(["Spending Ranges (Per Student)"]).mean()["Average Math Score"]
spending_reading_scores = school_summary_df.groupby(["Spending Ranges (Per Student)"]).mean()["Average Reading Score"]
spending_passing_math = school_summary_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Passing Math"]
spending_passing_reading = school_summary_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Passing Reading"]
overall_passing_spending = school_summary_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Overall Passing"]

In [49]:
# creates and shows the spending summary dataframe
spending_summary = pd.DataFrame({
    "Average Math Score": spending_math_scores,
    "Average Reading Score": spending_reading_scores,
    "% Passing Math": spending_passing_math,
    "% Passing Reading": spending_passing_reading,
    "% Overall Passing": overall_passing_spending
})
spending_summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Spending Ranges (Per Student),,,,,
<$585,83.455399,83.933814,93.460096,96.610877,95.035486
$585-630,81.899826,83.155286,87.133538,92.718205,89.925871
$630-645,78.518855,81.624473,73.484209,84.391793,78.938001
$645-680,76.997210,81.027843,66.164813,81.133951,73.649382

In [58]:
# Bin the schools based on size
size_bins = [0, 1000, 2000, 5000]
size_labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]
school_summary_df["School Size"] = pd.cut(school_summary_df["Total Students"], bins=size_bins, labels=size_labels)
school_summary_df

,,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing,Spending Ranges (Per Student),School Size
school_name,school type,,,,,,,,,,
Bailey High School,District,4976,3124928.0,628.0,77.048432,81.033963,66.680064,81.933280,74.306672,$585-630,Large (2000-5000)
Cabrera High School,Charter,1858,1081356.0,582.0,83.061895,83.975780,94.133477,97.039828,95.586652,<$585,Medium (1000-2000)
Figueroa High School,District,2949,1884411.0,639.0,76.711767,81.158020,65.988471,80.739234,73.363852,$630-645,Large (2000-5000)
Ford High School,District,2739,1763916.0,644.0,77.102592,80.746258,68.309602,79.299014,73.804308,$630-645,Large (2000-5000)
Griffin High School,Charter,1468,917500.0,625.0,83.351499,83.816757,93.392371,97.138965,95.265668,$585-630,Medium (1000-2000)
Hernandez High School,District,4635,3022020.0,652.0,77.289752,80.934412,66.752967,80.862999,73.807983,$645-680,Large (2000-5000)
Holden High School,Charter,427,248087.0,581.0,83.803279,83.814988,92.505855,96.252927,94.379391,<$585,Small (<1000)
Huang High School,District,2917,1910635.0,655.0,76.629414,81.182722,65.683922,81.316421,73.500171,$645-680,Large (2000-5000)
Johnson High School,District,4761,3094650.0,650.0,77.072464,80.966394,66.057551,81.222432,73.639992,$645-680,Large (2000-5000)
Pena High School,Charter,962,585858.0,609.0,83.839917,84.044699,94.594595,95.945946,95.270270,$585-630,Small (<1000)
Rodriguez High School,District,3999,2547363.0,637.0,76.842711,80.744686,66.366592,80.220055,73.293323,$630-645,Large (2000-5000)
Shelton High School,Charter,1761,1056600.0,600.0,83.359455,83.725724,93.867121,95.854628,94.860875,$585-630,Medium (1000-2000)
Thomas High School,Charter,1635,1043130.0,638.0,83.418349,83.848930,93.272171,97.308869,95.290520,$630-645,Medium (1000-2000)
Wilson High School,Charter,2283,1319574.0,578.0,83.274201,83.989488,93.867718,96.539641,95.203679,<$585,Large (2000-5000)
Wright High School,Charter,1800,1049400.0,583.0,83.682222,83.955000,93.333333,96.611111,94.972222,<$585,Medium (1000-2000)

In [51]:
# Calculate average scores and passing rates by school size
size_math_scores = school_summary_df.groupby("School Size").mean()["Average Math Score"]
size_reading_scores = school_summary_df.groupby("School Size").mean()["Average Reading Score"]
size_passing_math = school_summary_df.groupby("School Size").mean()["% Passing Math"]
size_passing_reading = school_summary_df.groupby("School Size").mean()["% Passing Reading"]
size_overall_passing = school_summary_df.groupby("School Size").mean()["% Overall Passing"]

In [52]:
# Create a new DataFrame to hold the summary data
size_summary = pd.DataFrame({
    "Average Math Score": size_math_scores,
    "Average Reading Score": size_reading_scores,
    "% Passing Math": size_passing_math,
    "% Passing Reading": size_passing_reading,
    "% Overall Passing": size_overall_passing
})
size_summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Size,,,,,
Small (<1000),83.821598,83.929843,93.550225,96.099437,94.824831
Medium (1000-2000),83.374684,83.864438,93.599695,96.790680,95.195187
Large (2000-5000),77.746417,81.344493,69.963361,82.766634,76.364998

In [55]:
# Group the per_school_summary DataFrame by school type
by_type = school_summary_df.groupby("school type")

In [56]:
# Calculate the average scores and passing percentages by school type
type_math_scores = by_type.mean()["Average Math Score"]
type_reading_scores = by_type.mean()["Average Reading Score"]
type_passing_math = by_type.mean()["% Passing Math"]
type_passing_reading = by_type.mean()["% Passing Reading"]
type_overall_passing = by_type.mean()["% Overall Passing"]

In [57]:
# Create a new DataFrame with the above calculations
type_summary = pd.DataFrame({
    "Average Math Score": type_math_scores,
    "Average Reading Score": type_reading_scores,
    "% Passing Math": type_passing_math,
    "% Passing Reading": type_passing_reading,
    "% Overall Passing": type_overall_passing
})
type_summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school type,,,,,
Charter,83.473852,83.896421,93.620830,96.586489,95.103660
District,76.956733,80.966636,66.548453,80.799062,73.673757